<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title> Creare contact </title>

</head>

<body>

<!--<div>-->
<!--    <form action="#" th:action="@{/contacte/create}" th:object="${contacte}" method="post">-->
<!-- -->
<!--        <label>cod </label>-->
<!--        <input type="number" th:field="*{code}">-->
<!--        <br>-->
<!--        <label>nume</label>-->
<!--        <input type="text" th:field="*{name}">-->
<!--        <br>-->

<!--        <label>observatie</label>-->
<!--        <input type="text" th:field="*{observatie}">-->


<!--        <input type="submit" value="Inregistreaza contact">-->

<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
