<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</head>

<body>

<header th:replace="navigationBar :: header ">
</header>
<title> Cautare echipamente </title>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
</nav>

<p> Inregistreaza echipamentul  </p>

<div>
    <div class="container">
        <!-- Content here -->

    <form action="#" th:action="@{/echipamente/create}" th:object="${echipamente}" method="post">

        <label>cod intern</label>
        <input type="number" th:field="*{cod}">
        <div class="container"></div>
        <br>
        <label>nume</label>
        <input type="text" th:field="*{nume}">
        <div class="container"></div>
        <br>
        <label>producator</label>
        <input type="text" th:field="*{producator}">
        <div class="container"></div>
        <br>
        <label>model</label>
        <input type="text" th:field="*{model}">
        <div class="container"></div>
        <br>
        <label>observatie</label>
        <input type="text" th:field="*{observatie}">
        <div class="container"></div>
        <br>


        <label>location list</label>



        <select th:field="*{locatie}"  >
            <option th:each="loc : ${locations}"
                    th:value="${loc.id}"
                    th:text="${loc.nume}"/>
        </select>
        <label>Actionare list</label>
        <select th:field="*{actionare}"  >
            <option th:each="act: ${action}"
                    th:value="${act.id}"
                    th:text="${act.nume}"/>

        </select>

        <br>

        <input type="submit" value="Inregistreaza echipament">

    </form>
    </div>
</div>
</body>
</html>
