<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <title> Creare contacte </title>

</head>


<body>
<header th:replace="navigationBar :: header ">
</header>
<!--<nav class="navbar navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#"></a>-->
<!--</nav>-->

<p> Inregistreaza contact  </p>

<div>
    <form action="#" th:action="@{/contacte/create}" th:object="${contacte}" method="post">

        <label>cod</label>
        <input type="text" th:field="*{cod}">
        <br>
        <label>nume</label>
        <input type="text" th:field="*{nume}">
        <br>

        <label>observatii</label>
        <input type="text" th:field="*{observatii}">
        <br>


        <input type="submit" value="Inregistreaza contact">

    </form>

</div>

</body>

</html>
