<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stergere echipament</title>
</head>
<body>
    <h1 th:text="${equipment.success} ? 'A fost sters' : 'Nu s-a putut sterge!'"></h1>
</body>
</html>