<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Cautare echipamente </title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!--<input type="number" id="searchInput" placeholder="cod echipament" onchange="changeUrl()">-->
<!--<a id="searchUrl" href="localhost:8080/echipamente/0">-->
<!--    <input type="button" value="Cauta">-->
<!--</a>-->
<header th:replace="navigationBar :: header ">
</header>


<div>


    <h1 th:text="${echipament.nume} + ' produced by ' +  ${echipament.producator}"></h1>
    <!-- exemplu de tabel -->
    <table style="width:50%; border:1px">
        <h5 class="text-success">Se utilizeaza pentru crimparea contactelor:</h5>
        <!--    <h5>Se utilizeaza pentru crimparea contactelor:</h5>-->


        <tr>
            <table class="table table-bordered">

                <thead>

            <th>Cod</th>
            <th>Nume</th>
            <th>Obs.</th>
                </thead>
        </tr>

        <tr th:each="contact : ${echipament.contacte}">
            <td th:text="${contact.cod}"></td>
            <td th:text="${contact.nume}"></td>
            <td th:text="${contact.observatii}"></td>

            <br>
        </tr>

    </table>
    <h1 th:text="'Se gaseste momentan in locatia:  ' +  ${echipament.locatie.nume}"></h1>
</div>


</body>
</html>
