<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
    <meta charset="UTF-8" />
    <!--  <link href="/spring-thymeleaf/css/styles.css" rel="stylesheet">-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="navigationBar :: header ">
</header>
<h1>Update</h1>
<h3 th:text="${errorMessage}"></h3>
<div>

    <form action="#" th:action="@{/echipamente/updateContacts}" th:object="${echipamente}" method="post" >
        <label>cod echipament</label>
        <input type="number"   th:field="*{cod}" >
        <label>cod contact</label>
        <input type="text" th:field="*{observatie}" />
        <br>
        <input type="submit" value="Update"/>
    </form>

</div>
</body>

</html>

