<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="Menu">

    <title>Meniu: home</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <meta charset="UTF-8"/>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<header>
    <p2><a href="#" class="text-info">Intretinere si utilizare echipamente industriale pentru crimparea contactelor pe
        conductori</a></p2>

    <div>
        <span class="border-top"></span>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Intretinere</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div class="collapse navbar-collapse" id="main_nav">

                <ul id="background-menu" class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Echipamente </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/echipamente/find}"> Cauta echipament </a></li>
                            <li><a class="dropdown-item" th:href="@{/echipamente/create}"> Inregistreaza echipament </a>
                            </li>
                            <!--                                <li><a class="dropdown-item"th:href="@{echipamente/delete/200002}" > Editeaza </a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Contacte </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/contacte/startSearch}"> Cauta contact </a></li>
                            <li><a class="dropdown-item" th:href="@{/contacte/create}"> Inregistreaza inregistreaza </a>
                            </li>
                            <!--                                <li><a class="dropdown-item" th:href="@{/contacte/...}"> Editeaza </a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Locatii </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/contacte}"> Cauta </a></li>
                            <li><a class="dropdown-item" th:href="@{/contacte/create}"> Inregistreaza </a></li>
                            <!--                                <li><a class="dropdown-item" th:href="@{/contacte/...}"> Editeaza </a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/echipamente/updateContacts}"> Update </a>
                    </li>
                </ul>
            </div> <!-- navbar-collapse.// -->
        </nav>
    </div>
</header>
<div>
    <img src="../static/images/optical.jpg" width="Auto"
     th:src="@{images/optical.jpg}"/>

</div>
<footer class="navbar fixed-bottom">
    2020 Aurelian
</footer>

</body>

</html>

