<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Meniu: home</title>
    <meta charset="UTF-8" />

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<header th:fragment="header">


        <div>

 <span class="border-top"></span>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Intretinere</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Echipamente  </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"th:href="@{/echipamente/find}"> Cauta </a></li>
                                <li><a class="dropdown-item" th:href="@{/echipamente/create}"> Inregistreaza </a></li>
<!--                                <li><a class="dropdown-item"th:href="@{echipamente/delete/200002}" > Editeaza </a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Contacte  </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/contacte/startSearch}"> Cauta </a></li>
                                <li><a class="dropdown-item" th:href="@{/contacte/create}"> Inregistreaza </a></li>
<!--                                <li><a class="dropdown-item" th:href="@{/contacte/...}"> Editeaza </a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Locatii  </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/contacte}"> Cauta </a></li>
                                <li><a class="dropdown-item" th:href="@{/contacte/create}"> Inregistreaza </a></li>
<!--                                <li><a class="dropdown-item" th:href="@{/contacte/...}"> Editeaza </a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/echipamente/updateContacts}" > Update  </a>
                        </li>
                    </ul>
                </div> <!-- navbar-collapse.// -->
            </nav>
        </div>
</header>

    <footer class="navbar fixed-bottom">
        2020 Aurelian
    </footer>

</body>


</html>

