<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Contacte gasite</title>
    <meta charset="UTF-8">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<body>

<header th:replace="navigationBar :: header ">
</header>
<div>
    <h1 th:text="${contact.nume} + '  ' +  ${contact.observatii}"></h1>
    <h2>Se poate crimpa cu echipamentele urmatoare:</h2>

    <table class="table .table-striped ">
        <table class="table table-hover">
        <tr>
            <th>Cod</th>
            <th>Nume</th>
            <th>Locatia</th>
            <th>Obs.</th>
        </tr>
        <tr th:each="echipament : ${contact.echipamente}">
            <td th:text="${echipament.cod}"></td>
            <td th:text="${echipament.nume}"></td>
            <td th:text="${echipament.model}"></td>
            <!--hack location name is return to model becouse model is nit use (missing DTO)>-->
            <td th:text="${echipament.observatie}"></td>

            <br>
        </tr>
    </table>
</div>

</body>
</html>
