<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <header th:replace="navigationBar :: header ">
    </header>
    <title>Cauta contacte</title>
    <meta charset="UTF-8">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
<header>

</header>

<div>

<form action="#" th:action="@{/contacte/findByParams}" th:object="${contacte}" method="post">
<table class= "table">
    <tbody>
    <table class="table .table-striped ">
    <tr>
        <td>Cod</td>
            <td>
                <input type="number" th:field="*{cod}">
        </td>
    </tr>
    </tbody>
</table>
<input type="submit" value = "Cauta contacte"/>
</form>
</div>

</body>
</html>