
#background-menu {
    background: green;
}

body {
    background-image: url(images/optical.jpg);
    background-color: #cccccc;
    /* height: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
